{% extends 'base.html.twig' %}

{% block title %}Hello GameController!{% endblock %}

{% block body %}
    
    <div class="container bg-light">
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <div class="text-center bg-success">
                Bonjour {{app.user.firstname}}
                {% if is_granted('ROLE_ADMIN') %}
                
                    <p>
                        Nb total de jeux : {{ games|length }}
                    </p>
                {% endif %}
            </div>
        {% endif %}
        <div class="row">
            <div class="col-8 m-auto">
                <h1 class="text-center mb-5">Game Library</h1>
                <table class="table table-striped">
                    <thead>
                        <tr class="text-center">
                            <th scope="col">Titre</th>
                            <th scope="col">Studio</th>
                            <th scope="col">Année</th>
                            <th scope="col">Jaquette</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for game in games %}
                        <tr scope="row">
                            <td>{{game.title}}</td>
                            <td>{{game.studio.name}}</td>
                            <td>{{game.year}}</td>
                            <td><img class="coverImage" src="{{ game.cover }}"></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
